.contact-image {
    width: 100px; 
    height: 100px;
    object-fit: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.card {
    border: none;
}

h5.fw-bold {
    font-size: 1.25rem;
}

.d-flex.gap-3 span {
    font-size: 1.2rem;
}